<h1>New person</h1>


<%= form_with model: @person do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name%>
      <% @person.errors.full_messages_for(:name).each do |message| %>
        <div><%= message if message.present? %></div>
    <% end %>
  </p>
  <p>
    <%= form.label :surname %><br>
    <%= form.text_field :surname %>
      <% @person.errors.full_messages_for(:surname).each do |message| %>
        <div><%= message if message.present? %></div>
    <% end %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>