<h1>New person</h1>

<%= form_with model: @people do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name%>
    <% @person.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :surname %><br>
    <%= form.text_field :surname %>
    <%= @person.errors.full_messages_for(:surname).each do |message| %>
      <div><%= message %></div>
    <%= end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>