<h1>Person file (#show)</h1>
<hr>

<p><strong>Name:</strong> <%= @person.given_names %></p>
<p><strong>Surname:</strong> <%= @person.surname %></p>

<p>
  <%= link_to 'Back', people_path %>
  <%= link_to 'Edit', edit_person_path(@person) %>
  <%= link_to 'Delete', person_path(@person), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?" } %>
</p>

<br>

<h2>Guardians</h2>
<%# each() method is assumed %>
<%= render @person.guardians %>

<h2>Add a guardian</h2>
<%= render 'guardians/form' %>
